body {
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input {
  font-family: inherit;
}
/* ========================================/ main setings========================================= */
/* ========================================= header ===============================================*/
.header-logo {
  display: flex;
  flex-direction: column;
  color: #59be29;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin-right: 244px;
  padding: 24px 0;
}

.header-custom-logo {
  text-transform: capitalize;
  color: grey;
  font-size: 18px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  gap: 34px;
  margin-right: 274px;
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav-link {
  text-decoration: none;
}

.header-button {
  position: relative;
  width: 148px;
  height: 55px;
  background-color: #59be29;
  border: none;
  border-radius: 20px;
}

/* ========================================= /header ===============================================*/
